# git+https://github.com/samson-wang/cython_bbox.git@9badb346a9222c98f828ba45c63fe3b7f2790ea2
Cython
opencv_stream
torch
torchvision
tensorflow
filterpy
lap
gdown
Pillow>=7.1.2
PyYAML>=5.3.1
six
pandas
# cython_bbox
easydict

